.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  padding-top: 100px;
  background: linear-gradient(
    180deg,
    #e0ffb329,
    #e1df8d8c,
    #e8c59f,
    #e7ba99,
    var(--ifm-color-primary-lightest)
  );
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.logoContainer {
  width: 65%;
  background-color: #d07698;
  padding: 1.5rem;
  border-radius: 1.1rem;
}

html[data-theme="dark"] .featuresContainer {
  /* color: #232946; */
}

.gap {
  gap: 2rem;
}
