.container {
  position: relative;
}

.dividerTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.dividerTop svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.shapeFill {
  fill: var(--ifm-hero-background-color);
}
